<!DOCTYPE html>
<html>
  <head>
    <title>Cinco</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
  </head>

  <body>
 <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="logo">
      <%= link_to image_tag("5incologoblanco.png", alt: "logo",:height => '50rem', :width => '220rem'), '/',class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Funciones </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Artistas</a>
          </li>
        </ul>

      

<!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form> -->

      </div>
    </nav>
  </header>

    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>
    <footer class="footer">
     <div class="container">


       <ul class="list-group">
         <li class="list-group-item"><span > CONTACTANOS</span></li>
         <li class="list-group-item"><span > <i class="fa fa-facebook-f"></i>      5incoimpro</span></li>
         <li class="list-group-item"><span ><i class="fa fa-instagram"></i>     5incoimpro</span></li>
         <li class="list-group-item"><span >  <i class="fa fa-whatsapp"></i>  contacto & reservas :+573173099335</span></li>
          <li class="list-group-item"><span >  <i class="fa fa-whatsapp"></i>  e-mail : cincoimpro@gmail.com </span></li>
         <%= link_to image_tag("5incologoblanco.png", alt: "logo",:height => '50rem', :width => '220rem'), '/',class: 'navbar-brand' %>

       </ul>


       <ul>

      </ul>

     </div>
   </footer>
  </body>
</html>
